* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "ABeeZee", sans-serif;
}

ul {
  list-style: none;
}

.backBtn {
  font-size: 2rem;
  position: fixed;
  left: 0;
  display: flex;
  padding: 0.3rem 0.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #a51107;
}
